<div class="max-w-7xl mx-auto grid grid-cols-4 px-8 py-2 font-semibold">
  <div class="col-span-2">Answer</div>
  <div>Correct?</div>
  <div></div>
</div>
<% @question.answers.each do |answer| %>
  <%= render Component::Question::NewAnswer.new answer: answer%>
<% end %>
  <%= render Component::Question::NewAnswer.new answer: Answer.new(question: @question)%>

