<p class="text-3xl text-center font-mono font-bold	tracking-wide	">Fastest User:</p>

<p class="text-3xl text-center font-mono font-bold	tracking-wide	"><%= fastest_correct_response ? fastest_correct_response.anon_user.username : 'There were no correct responses' %></p>

