 <%= link_to 'Back To Lessons', @lesson, class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
<%= render Component::Lesson::Form.new lesson: @lesson %>
<div class="max-w-7xl mx-auto grid grid-cols-5 px-8 py-2 font-semibold">
  <div class="col-span-2">Title</div>
  <div>Time Limit</div>
  <div></div>
</div>
<% if @lesson.questions.any? %>
<%= render Component::Lesson::QuestionsList.new lesson: @lesson%>
<% end %>
<%= render Component::Lesson::NewQuestion.new question: Question.new(lesson: @lesson) %>
