<div aria-live="assertive" class="fixed inset-0 flex items-end px-4 py-6 pointer-events-none sm:p-6 sm:items-start">
  <div class="w-full flex flex-col items-center space-y-4 sm:items-end">
  <%= turbo_frame_tag 'notification', class: 'max-w-sm w-full' %>
  </div>
  </div>